<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Dealership Review</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
   <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
   <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>


</head>


   <body>

   <!--Add a nav bar here -->

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="#">Victoria's Cars Dealership</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
           <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
           <a class="nav-item nav-link" href="./about">About Us</a>
           <a class="nav-item nav-link" href="./contact">Contact</a>
         </div>
         {% if user.is_authenticated %}
         <div class="ml-auto">
           <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
           <button class="btn btn-link my-2 my-sm-0">Logout</button>
         </div>
         {% else %}
         <form class="form-inline ml-auto">
           <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
           <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
           <button class="btn btn-primary my-2 my-sm-0 mr-2" type="submit">Login</button>
           <a class="btn btn-link my-2 my-sm-0" href="{% url 'djangoapp:registration' %}">Sign Up</a>
           
         </form>
           {% endif %}
       </div>
   </nav>

   <br>


   <!--Add a dealer table here -->

   <table class="table" id="table">
       <thead>
           <tr>
               <th>ID</th>
               <th>Dealer Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Zip</th>
               <th>State</th>
            </tr>
       </thead>
       <tbody>
           {% for dealer in dealership_list %}
           <tr> 
               <td>{{dealer.id}}</td>
               <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
               <td>{{dealer.city}}</td>
               <td>{{dealer.address}}</td>
               <td>{{dealer.zip}}</td>
               <td>{{dealer.state}}</td>
           </tr>
           {% endfor %}
       </tbody>   

   </table>


   </body>


</html>




